---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?api_key=<API_KEY>&format=json&method=user.getRecentTracks&user=freddymcgroarty
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"recenttracks":{"@attr":{"page":"1","perPage":"50","user":"freddymcgroarty","total":"22913","totalPages":"459"},"track":[{"artist":{"mbid":"4939695e-1f38-496f-978f-4ebf9ef13e9d","#text":"Kool
        Keith"},"@attr":{"nowplaying":"true"},"mbid":"","album":{"mbid":"","#text":"Super
        Hero"},"streamable":"0","url":"https:\/\/www.last.fm\/music\/Kool+Keith\/_\/Super+Hero","name":"Super
        Hero","image":[{"size":"small","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/34s\/5a23bb109b19fe1b8a779e336fbad054.jpg"},{"size":"medium","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/64s\/5a23bb109b19fe1b8a779e336fbad054.jpg"},{"size":"large","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/174s\/5a23bb109b19fe1b8a779e336fbad054.jpg"},{"size":"extralarge","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/300x300\/5a23bb109b19fe1b8a779e336fbad054.jpg"}]},{"artist":{"mbid":"","#text":"Darc
        Mind"},"album":{"mbid":"ae13b881-0acf-475f-9477-38786767f96f","#text":"Bipolar"},"image":[{"size":"small","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/34s\/4220840c7a334fd5ae23d69bbdc337aa.jpg"},{"size":"medium","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/64s\/4220840c7a334fd5ae23d69bbdc337aa.jpg"},{"size":"large","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/174s\/4220840c7a334fd5ae23d69bbdc337aa.jpg"},{"size":"extralarge","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/300x300\/4220840c7a334fd5ae23d69bbdc337aa.jpg"}],"streamable":"0","date":{"uts":"1598397313","#text":"25
        Aug 2020, 23:15"},"url":"https:\/\/www.last.fm\/music\/Darc+Mind\/_\/Beset-On+All-Side","name":"Beset-On
        All-Side","mbid":"2038a5b1-1b1b-3efa-908f-8889e886891e"},{"artist":{"mbid":"39ba13b9-5534-4c2a-9aac-27d72bcaf22e","#text":"Large
        Professor"},"album":{"mbid":"2825df2f-bd7b-47d9-9a51-79e9b3b21ba2","#text":"The
        LP"},"image":[{"size":"small","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/34s\/c4bad6f19a1f413d903a0b89cde4c9a2.jpg"},{"s[...]
